:root{
    --cor-de-fundo:#00030c;
    --branco-princípal:#ffffff;
    --azul:#167bf7;
    --cinza:#c0c0c0;
}
body{
    background-color: var(--cor-de-fundo);
color: var(--branco-princípal);
} 
* {
    margin: 0;  
    padding: 0;
 } 
.princípal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
.conteiner {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
  }
 
.conteiner_botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-princípal);
    display: block;
  }

  .botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-princípal);
  }
